* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EAEAEA;
  font-family: 'Roboto', sans-serif;
}

#container {
  background: #FFFF;
  width: 70%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

h1, h2 {
  color: #1B1B1B;
  font-weight: 700;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

li {
  margin-left: 10px;
  margin-bottom: 10px;
}

li, p {
  font-weight: 400;
  font-size: 16px;
}
.subs {
  line-height: 26px;
}

.recipe-image {
  text-align: right;
}

.recipe-image img { 
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}

footer, figcaption {
  color: #8F8F8F;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 10px;
}